article{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}

article header{
    display: flex;
    align-items: center;
    gap: 4px
}

article header div{
    display: flex;
    flex-direction: column;  
}

article header span{
    opacity: .6;
}

article img{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw--seguido{
    opacity: .8;
    width: 140px;   
}
.tw--sinseguir {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s ease background-color;
    width: 140px;
}
.tw--sinseguir .tw--seguido{
    border: 1px solid #bbb;
    background: transparent;    
    color: #fff;
    
}

.tw--sinseguir:hover{
    background-color: #09f;
}

.tw--seguido:hover{
    background: rgb(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
}

.followText{
    display: block;
}

.tw--seguido:hover .followText{
    display: none;
}

.tw--seguido:hover .notFollow{
    display: block;
}

.notFollow{
    display: none;
}